/* Root start*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1350px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

:root {
    --white: #f1f1f1;
    --black: #000;
    --gray-white: #e1e1e1;
    --text: #323232;
}

body {
    background: var(--white);
}


.title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

/* Root end */
/* Header start */

.header__nav {
    padding-top: 50px;
}

.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-box-border {
    border-bottom: 2px solid #323232;
    margin-top: 20px;
    margin-bottom: 40px;
}


.header__nav-special-box {
    display: flex;
    align-items: center;
}

.header__nav-box-list {
    display: flex;
    gap: 40px;
}

.header__nav-box-icon {
    display: flex;
    gap: 40px;
}

.header__nav-box-logo {
    margin-right: 50px;
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 72%;
    text-transform: uppercase;
    color: var(--text);
}

.header__nav-box-link {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--text);
}

.header__nav-box-icon-link {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--text);
}

/* Header end */
/* Main start */

.content {
    margin-bottom: 60px;
}

.content__box-first-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 294px;
    box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
    background: var(--gray-white);
    border-radius: 10px;
    position: relative;
}


.content__box-first-item-discount {
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 10px;
    width: 123px;
    height: 49px;
    background: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: var(--white);
}

.content__box-text {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
}

.content__box-title {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black);
}

.content__box-span {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
    text-transform: uppercase;
    color: var(--text);
}

.content__box-first-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



.content__box-first {
    max-width: 526px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.content__box-second {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    max-width: 746px;
    width: 100%;
    height: 618px;
    position: relative;
    background: var(--gray-white);
    border-radius: 10px;
}

.content__box-second-discount {
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 10px;
    width: 123px;
    height: 49px;
    background: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: var(--white);
}

.content__box-second-text {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 112%;
    color: var(--text);
}

.content__box-second-title {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 77%;
    text-transform: uppercase;
    color: var(--text);
    margin: 30px 0;
}

.content__box-second-span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 112%;
    text-transform: uppercase;
    color: var(--text);
}

.content__box {
    display: flex;
    gap: 30px;
}

.sale__border {
    border-bottom: 2px solid #323232;
    margin-top: 20px;
    margin-bottom: 40px;
}

.sale__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 485px;
    gap: 40px 24px;
}

.sale__box-item {
    max-width: 416px;
    width: 100%;
    background: var(--gray-white);
    position: relative;
}

.sale__box-item-sale {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--white);
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text);
    border-radius: 10px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.sale__box-item-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.sale__box-item-link {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sale__box-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.sale__title-end {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 30px;
    color: var(--text);
    text-align: center;
    margin: 60px 0;
}

.news__border {
    border-bottom: 2px solid #323232;
    margin-top: 20px;
    margin-bottom: 40px;
}

.news__box-item {
    position: relative;
    border-radius: 10px;
    max-width: 636px;
    width: 100%;
    height: 470px;
    background: rgba(50, 50, 50, 0.7), url("path_to_image");
    overflow: hidden;
}

.news__box-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.news__box-item-span {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text);
    border-radius: 8px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
}

.news__box-item-special-box {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    justify-content: center;
    height: 100%;
}

.news__box-item-title {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 22px;
    font-variant: all-small-caps;
    color: var(--white);
    max-width: 464px;
    width: 100%;
}

.news__box-item-text {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    font-variant: all-small-caps;
    color: var(--gray-white);
    max-width: 462px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.news__box-item-time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news__box-item-time-span {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
}

.news__box {
    display: flex;
    gap: 24px;
}

.main {
    margin-bottom: 60px;
}

/* Main end */
/* Footer start */


.footer {
    background: var(--text);
    padding-top: 100px;
    padding-bottom: 87px;
}

.footer__box {
    display: flex;
    gap: 187px;
}

.footer__box-aside {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__title {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 72%;
    text-transform: uppercase;
    color: var(--white);
}

.footer__box-aside-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__box-aside-list-link {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--white);
}

.footer__special-box {
    display: flex;
    gap: 160px;
}

.footer__title-second {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
}

.footer__box-second {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__box-second-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer__box-second-special-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__box-second-text {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: var(--white);
}

.footer__box-second-span {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: var(--white);
}

.footer__box-second-email {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: var(--white);
}

.footer__box-second-title {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.14em;
    font-variant: all-small-caps;
    color: var(--white);
}

.footer__box-social-link {
    display: flex;
    gap: 26px;
    align-items: center;
}

/* Footer end */